<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Feedback</title>
    <link href="/styles/style.css" type="text/css" rel="stylesheet">
</head>
<body>
<input type="submit" onclick='goback()' value="Go Back"> <span class="br"></span>
<label for="fname">Student First Name:</label>
<label id="fname" name="fname">{{fn}}</label><span class="br"></span> 
<label for="lname">Student Last Name:</label>
<label id="lname" name="lname">{{ln}}</label><span class="br"></span> 
<label for="year">Student Year:</label>
<label id="year" name="year">{{yr}}</label><span class="br"></span> 
<label for="feedbackweek">Enter Date Of Weeks Feedback:</label>
<input type="text" id="feedbackweek" name="feedbackweek">
<input type="submit" onclick='selectFeedback()' id="subbutton" value="Select Feedback"><span class="br"></span>
<textarea id="feedback" name="new feedback" rows="4" cols="50"></textarea><span class="br"></span> 
<input type="submit" onclick='submitFeedbackChange()' id="subbutton" value="Submit Feedback Change"><span class="br"></span>
<input type="submit" onclick="deleteFeedback()" id="delbutton" value="Delete Selected Feedback"><span class="br"></span>

<p id="feedbackp"></p>
<p id="weekshomeworknotdone"></p>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js">
</script>

<script>
 $("document").ready(function(){
    getStudentInfo();
  });

  function getStudentInfo(){
    var fn = document.getElementById("fname").innerHTML
    var ln = document.getElementById("lname").innerHTML
    var year = document.getElementById("year").innerHTML
    $.post("/studentinfo", {fname: fn, lname: ln, yr: year}, success=function(response){
        feedback = ""
        lastweek = ""
        for (var i = 0; i < response['feedback'].length; i++){
            feedback += response['feedback'][i][1] + " Feedback: " + response['feedback'][i][0] + "<br>";
        }
        lastweek = response['feedback'][response['feedback'].length - 1][2]
        document.getElementById("feedbackp").innerHTML = feedback;
        document.getElementById("weekshomeworknotdone").innerHTML = "Weeks of Homework Not Done: " + lastweek;  
    });
  }
  function selectFeedback(){
    var fn = document.getElementById("fname").innerHTML
    var ln = document.getElementById("lname").innerHTML
    var year = document.getElementById("year").innerHTML
    var feedbackweek = document.getElementById("feedbackweek").value
    $.post("/studentinfo", {fname: fn, lname: ln, yr: year}, success=function(response){
        selectedfeedback = ""
        for (var i = 0; i < response['feedback'].length; i++){
            if (response['feedback'][i][1] == feedbackweek){
                selectedfeedback = response['feedback'][i][0]
            }
        }
        document.getElementById("feedback").innerHTML = selectedfeedback;
    });
  } 

  function submitFeedbackChange(){
    var fn = document.getElementById("fname").innerHTML
    var ln = document.getElementById("lname").innerHTML
    var year = document.getElementById("year").innerHTML
    var feedbackweek = document.getElementById("feedbackweek").value
    var feedback = document.getElementById("feedback").value
    $.post("/updatefeedback", {fname: fn, lname: ln, yr: year, fb: feedback, week: feedbackweek}, success=function(response){
        getstudentinfo();
    });
  }

  function deleteFeedback(){
    var fn = document.getElementById("fname").innerHTML
    var ln = document.getElementById("lname").innerHTML
    var year = document.getElementById("year").innerHTML
    var feedbackweek = document.getElementById("feedbackweek").value
    $.post("/deletefeedback", {fname: fn, lname: ln, yr: year, week: feedbackweek}, success=function(response){
        getStudentInfo();
    });
  }

  function goback(){
    const params = new URLSearchParams(location.search);
    var fn = params.get('fn')
    var ln = params.get('ln')
    var year = params.get('yr')
    var url = new URL(window.location.href);
    url = new URL(url.origin + "/studentpage");
    url.searchParams.append('fn', fn);
    url.searchParams.append('ln', ln);
    url.searchParams.append('yr', year);
    window.location.href = url;
    }
</script>

