<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Edit Homepage</title>
</head>
<body>
<!-- <element onload="myfunction_onload"> -->

<label for="fname">Student First Name:</label>
<input type="text" id="fname" name="fname"><br><br>
<label for="lname">Student Last Name:</label>
<input type="text" id="lname" name="lname"><br><br>
<label for="year">Student Year:</label>
<input type="number" id="year" value="0"><br><br>
<label for="phone">Student Phone Number:</label>
<input type="text" id="phonenumber" name="phonenumber"><br><br>
<label for="stars">Student Stars:</label>
<input type="number" id="stars" value="0"><br><br>
<input type="submit" onclick='updatestudent()' id="updatebutton" value="Update Existing Student Info">
<input type="submit" onclick='createstudent()' id="createbutton" value="Create Student">
<input type="submit" onclick='deletestudent()' id="delbutton" value="Delete Student">

<form action="" method="get">
  </form>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script>
    function createstudent(){
        var fn = document.getElementById("fname").value
        var ln = document.getElementById("lname").value
        var year = document.getElementById("year").value
        var phone = document.getElementById("phonenumber").value
        var stars = document.getElementById("stars").value
        // alert(url)
        // alert(window.location.href)
        $.post('/createstudent', {fname: fn, lname: ln, yr: year, ph: phone, st: stars}, success=function(response){
            alert(response['fname'] + " " + response['lname'] + " " + response['year']);
        });}


</script>
</body>