<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <title>Student Look Up</title>
    <link href="/styles/style.css" type="text/css" rel="stylesheet">
</head>

<body>

<label for="fname">Enter Student First Name:</label>
<input type="text" id="fname" name="fname"><br><br>
<label for="lname">Enter Student Last Name:</label>
<input type="text" id="lname" name="lname"><br><br>
<label for="year">Enter Student's Year:</label>
<input type="number" id="year" value="0"><br><br>
<input type="submit" onclick='getstudentinfo()' id="subbutton" value="Get Student Info">
<input type="submit" onclick='editstudent()' id="editbutton" value="Edit Student">
<input type="submit" onclick='createstudent()' id="createbutton" value="Create New Student">
<label id="test"></label> <br><br>
<label id="fdback"></label>

<p id="deets"></p>
<p id="feedback"></p>
<p id="weekshomeworknotdone"></p>

</body>

<!-- actually important -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js">
</script> 

<script>
    function deletestudent(){
        var fn = document.getElementById("fname").value
        var ln = document.getElementById("lname").value
        var year = document.getElementById("year").value
        $.post("/deletestudent", {fname: fn, lname: ln, yr: year}, success=function(response){
            alert(response['fname'] + " " + response['lname'] + " has been deleted");
        });
    }

    function editstudent(){
        var fn = document.getElementById("fname").value;
        var ln = document.getElementById("lname").value;
        var year = document.getElementById("year").value;
        var url = new URL(window.location.href + "studentpage");
        url.searchParams.append('fn', fn);
        url.searchParams.append('ln', ln);
        url.searchParams.append('yr', year);
        window.location.href = url;
    }

    function getstudentinfo(){
        var fn = document.getElementById("fname").value
        var ln = document.getElementById("lname").value
        var year = document.getElementById("year").value
        //works!
        
        $.post("/studentinfo", {fname: fn, lname: ln, yr: year}, success=function(response){
            feedback = ""
            for (var i = 0; i < response['feedback'].length; i++){
                feedback += response['feedback'][i][1] + " Feedback: " + response['feedback'][i][0] + "<br>";
            }
            //get the last week, then check the homework
            lastweek = response['feedback'][response['feedback'].length - 1][2]


            document.getElementById("feedback").innerHTML = feedback;
            document.getElementById("weekshomeworknotdone").innerHTML = "Weeks of Homework Not Done: " + lastweek;
            document.getElementById("deets").innerHTML = "Phone: " + response['phone'] + "<br>" + "Stars: " + response['stars'];
        });
    }
    function createstudent(){
        var url = new URL(window.location.href + "createnewstudent");
        window.location.href = url;
        //new url needs to be exact otherwise breaks, very specific you need to give it raw data
        //https://stackoverflow.com/questions/32153372/java-variable-in-url-not-working
    }

    function myfunction_clickevent2(){
        $.ajax({
            url:"/test2",
            context: document.body});}
</script>

