<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Student</title>
    <link href="/styles/style.css" type="text/css" rel="stylesheet">
</head>

<body>
<input type="submit" onclick='goback()' value="Go Back"> <span class="br"></span>  
<label for="fname">Enter Student First Name:</label>
<input type="text" id="fname" name="fname" value={{fn}}><span class="br"></span>  
<label for="lname">Enter Student Last Name:</label>
<input type="text" id="lname" name="lname" value={{ln}}><span class="br"></span>  
<label for="year">Enter Student's Year:</label>
<input type="number" id="year" value={{yr}}><span class="br"></span>  
<label for="phone">Enter Student's Phone Number:</label>
<input type="text" id="phonenumber" name="phonenumber" value={{ph}}><span class="br"></span>  
<label for="stars">Enter Student's Stars:</label>
<input type="number" id="stars" value={{st}}><span class="br"></span>  
<input type="submit" onclick='changeStudentInfo()' id="subbutton" value="Submit changes to student info">
<input type="submit" onclick='deleteStudent()' id="delbutton" value="Delete Student">

<p id="feedbackp"></p>
<p id="weekshomeworknotdone"></p>

<textarea id="feedback" name="new feedback" rows="4" cols="50"></textarea><span class="br"></span>  
<label for="weeksdone">Weeks of Homework Done:</label><span class="br"></span>  
<input type="number" id="weeksdone" value="0"> <span class="br"></span>  
<input type="submit" onclick="addFeedback()" id="fedbutton" value="Add New Feedback"> <span class="br"></span>  
<input type="submit" onclick="editFeedback()" id="editfedbutton" value="Edit Feedback"> <span class="br"></span>


<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script>
  $("document").ready(function(){
    getStudentInfo();
  });

  function getStudentInfo(){
    var fn = document.getElementById("fname").value
    var ln = document.getElementById("lname").value
    var year = document.getElementById("year").value
    $.post("/studentinfo", {fname: fn, lname: ln, yr: year}, success=function(response){
        feedback = ""
        for (var i = 0; i < response['feedback'].length; i++){
            feedback += response['feedback'][i][1] + " Feedback: " + response['feedback'][i][0] + "<br>";
        }
        lastweek = response['feedback'][response['feedback'].length - 1][2]
        document.getElementById("feedbackp").innerHTML = feedback;
        document.getElementById("weekshomeworknotdone").innerHTML = "Weeks of Homework Not Done: " + lastweek; 
        document.getElementById("weeksdone").value = lastweek; 
    });
  }
  function addFeedback(){
    var fn = document.getElementById("fname").value
    var ln = document.getElementById("lname").value
    var year = document.getElementById("year").value
    var feedback = document.getElementById("feedback").value
    var weeksdone = document.getElementById("weeksdone").value
    $.post("/addfeedback", {fname: fn, lname: ln, yr: year, fb: feedback, weeks: weeksdone}, success=function(response){
        getStudentInfo();
    });
  }

  function changeStudentInfo(){
    const params = new URLSearchParams(location.search);
    var ogfn = params.get('fn')
    var ogln = params.get('ln')
    var ogyear = params.get('yr')
    var fn = document.getElementById("fname").value
    var ln = document.getElementById("lname").value
    var year = document.getElementById("year").value
    var phone = document.getElementById("phonenumber").value
    var stars = document.getElementById("stars").value
    $.post("/changestudentinfo", {ogfn: ogfn, ogln: ogln, ogyear: ogyear, fname: fn, lname: ln, yr: year, ph: phone, st: stars}, success=function(response){
        document.getElementById("fname").value = response['fname']
        document.getElementById("lname").value = response['lname']
        document.getElementById("year").value = response['year']
        document.getElementById("phonenumber").value = response['phone']
        document.getElementById("stars").value = response['stars']
        params.set('fn', response['fname']);
        params.set('ln', response['lname']);
        params.set('yr', response['year']);
        window.history.replaceState({}, '', `${location.pathname}?${params}`);
        window.location.href = location.href;
    });
  }

  function deleteStudent(){
    var fn = document.getElementById("fname").value
    var ln = document.getElementById("lname").value
    var year = document.getElementById("year").value
    $.post("/deletestudent", {fname: fn, lname: ln, yr: year}, success=function(response){
        alert(response['fname'] + " " + response['lname'] + " has been deleted");
    });
    document.getElementById("fname").value = ""
    document.getElementById("lname").value = ""
    document.getElementById("year").value = ""
    document.getElementById("phonenumber").value = ""
    document.getElementById("stars").value = ""
    document.getElementById("origname").innerHTML = ""
    document.getElementById("origlname").innerHTML = ""
    document.getElementById("origyear").innerHTML = ""
  }

  function editFeedback(){
    var fn = document.getElementById("fname").value
    var ln = document.getElementById("lname").value
    var year = document.getElementById("year").value
    var url = new URL("http://127.0.0.1:5000/" + "editfeedback");
        url.searchParams.append('fn', fn);
        url.searchParams.append('ln', ln);
        url.searchParams.append('yr', year);
        window.location.href = url;
  }

  function goback(){
      var url = new URL(window.location.href)
      window.location.href = url.origin;}
</script>
</body>