
* {
  font-family: Helvetica, Arial, sans-serif;
}
body {
    background-color: #4593b5;
  }

.br { 
    display: block; 
    margin-bottom: 0.5em; 
}

/* label {
	color: #ffffff;
}

p {
  color: #ffffff;
} */